@import "tailwindcss";

@font-face {
  font-family: 'CollegeBlock';
  src: url('/fonts/College_Block.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.college-block {
  font-family: 'CollegeBlock', sans-serif;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}